<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boardgames API Documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head> 
<body>
    <h1>Welcome to the website</h1>
    <div><p>This is the homepage for the website, enter a serach term below and you will see all of the 
        games that match the name give.
    </p> </div>
    <select id="nameSelect">
        <option>Loading authors...</option>
    </select>


    <h3>Books by Selected Author:</h3>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody id="namesTable">
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='web.js') }}"></script>
</body>
</html>

