<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boardgames API Documentation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head> 
<body>
    <h1>Welcome to the website</h1>
    <div><p>This is the homepage for the website, enter a serach term below and you will see all of the 
        games that match the name give.
    </p> </div>
    <form method="post">
    <input id="name" type="text" name="name" required>
    <button type="submit">Submit</button>
    </form>

    <div><p>The matching games are: <br><br>{{ games }}</p></div>
</body>
</html>

