<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardGameDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="navbar-links">
            <a href="/home">Home</a>
            <a href="/search">Games</a>
            <a href="/recommender">Recommender</a>
        </div>
    </nav>

    <h1>Game Recommender</h1>
    <div>
        <p>Use the form below to get game recommendations based on your preferences.</p>
    </div>
</body>
</html>
